
<% provide(:title, 'Posts') %>

<% @posts.each do |item| %>
  <div class="card mb-3 ml-4 mr-4">
    <p class=" card-header"><%= item.title %></p>
    <p class="card-body"><%= item.body %></p>
    <%if logged_in?%>
      <p><%= item.user.name %></p>
    <%end%>
  </div>
<% end %>

